<section class="ten columns offset-by-one chooseus">

	<div class="row">

		<div class="three columns">
			<h2>Benefits</h2>
			<hr class="light">
			<div class="row">
				<h3>Learn Realquick<sup>TM</sup> Individual study programme</h3>
				<p>When you sign up for any of our courses, we assess your strengths and weaknesses and give you the Realquick<sup>TM</sup> individual study programme so that you can achieve your objectives fast. You will learn about accelerated learning techniques.</p>
				<%= active_link_to "Find out more", memberships_path, class: "link" %>
			</div>
			<div class="row">
				<h3>Learn English Fast</h3>
				<p>Our School uses accelerated learning techniques in order to get students to learn fast with our own Learn Realquick TM method.</p>
				<%= active_link_to "Find out more", method_path, class: "link" %>
			</div>
			<div class="row">
				<h3>Personalised attention</h3>
				<p>Our courses are priced very competitively, especially considering the level of personal attention we give to each student. Our teachers are always happy to answer any questions you may have and provide support for meeting your needs. You can keep all the learning materials. Free tea and coffee.</p>
				<%= active_link_to "Find out more", memberships_path, class: "link" %>
			</div>
			<div class="row">
				<h3>100% Money Back Guarantee</h3>
				<p>We are so confident that you will improve your English that with our lessons that, if after you had your Individual Study Programme, and you had participated in your first lesson, you don’t like our system, we will give you a full refund.</p>
				<%= active_link_to "Find out more", memberships_path, class: "link" %>
			</div>
			<div class="row">
				<h3>Coaching</h3>
				<p>You will benefit from one to one coaching sessions with our teachers. (choose the frequency of your coaching sessions according to your membership level)This is one of the most important sessions as it helps you become focused and motivated to achieve your goals.</p>
				<%= active_link_to "Find out more", memberships_path, class: "link" %>
			</div>
		</div>

		<div class="three columns">
			<h2>Our School</h2>
			<hr class="light">
			<div class="row">
				<h3>Structure</h3>
				<p>We ensure that all our classes are tailored to your unique needs. All our English courses are structured to cater for your level, ability and overall objectives.</p>
			</div>
			<div class="row">
				<h3>Support</h3>
				<p>Purple Stone Academy is an English language school geared towards helping foreign students improve their English fast so that they can get work and continue their study.</p>
			</div>
			<div class="row">
				<h3>Encouragement</h3>
				<p>We provide you with English language lessons, support networks and <%= active_link_to "accommodation", resources_path, class: "link" %> so that you can meet your educational needs.</p>
			</div>
			<div class="row">
				<h3>Evaluation</h3>
				<p>Our English School offers you The <%= active_link_to "Learn Realquick Method", method_path, class: "link" %><sup>TM</sup> for Learning English Fast that will enable you to: Speak English, Read with confidence, Improve your Pronunciation, Listening and Writing.</p>
			</div>
			<div class="row">
				<h3>Dynamic Activities</h3>
				<p>Learn English with dynamic classroom and social activities! We use the technique called “change of state” in order to maximise the learning experience.</p>
				<%= active_link_to "Find out more", method_path, class: "link" %>
			</div>
		</div>

		<div class="three columns">
			<h2>Our Teachers</h2>
			<hr class="light">
			<div class="row">
				<h3>Fully Trained</h3>
				<p>Our Teachers are fully trained and have plenty of experience to teach our Learn Realquick TM teaching Method.</p>
			</div>
			<div class="row">
				<h3>Experienced</h3>
				<p>Our teachers have had experience with a whole variety of levels and will develop a personalised learning programme for you.</p>
			</div>
			<div class="row">
				<h3>Friendly</h3>
				<p>Our teachers are friendly and always happy to help you achieve your objectives.</p>
			</div>
			<div class="row">
				<h3>Engaging</h3>
				<p>Their aim is to equip you with skills to understand the language on a more intuitive level. We “edutain”, which means that we educate while entertaining you as well.</p>
			</div>
			<div class="row">
				<h3>Dynamic Activities</h3>
				<p>“As a teacher, I am constantly given challenges with every student that I come across. My overall teaching skills and skill set have improved because of the different needs, backgrounds, skill sets and demands that are unique to each individual student. Purple Stone Academy offers a great environment for advancing rapidly in the study of English, because it gives each student a tailored approach to learning English. You can expect to have a much higher rate of achievement simply because the class sizes are very small, averaging 4 to 6 students (maximum 12) which means the attention from the teacher will be much greater for each individual student!” (Lily, teacher)</p>
			</div>
		</div>

	</div>

	<div class="row">

		<h2>Our Students</h2>
		<hr class="light">
		<div class="three columns">
			<h3>Multinational</h3>
			<p>Our Students come from all over the world. Most of them are commonly from Europe, especially Spain, Italy, France, Romania, Poland, Portugal.</p>
			<h3>Maki, Japan</h3>
			<p>Maki came to Purple Stone Academy willing to improve her English. She is improving rapidly thanks to the tailored programme her teacher has created for her.</p>
		</div>
		<div class="three columns">
			<h3>Young</h3>
			<p>Our Students are generally young people looking for short courses to improve their English quickly before getting a job or looking to further their study.</p>
			<h3>Marcony, Brazil</h3>
			<p>Marcony has studied with us for three months. He was unable to speak any English when he started the course and now he is able to return to his country having improved his English.</p>
		</div>
		<div class="three columns">
			<h3>Friendly</h3>
			<p>All students are looking to make new friendships and are happy to participate in our social activities.</p>
			<h3>Beata, Poland</h3>
			<p>Beata has studied with us for about a month. She has attended other schools but she thoroughly prefers our school because of the level of support she gets from us.</p>
		</div>

	</div>

</section>
