<section class="chooseus">

	<div class="ten columns offset-by-one">
		<%= image_tag "chooseus.jpg", class: "ten columns" %>
	</div>
	<div class="ten columns offset-by-one">
		<br />
		<hr class="light">
	</div>
	<div class="row">

		<div class="four columns">
			<h2><i class="fa fa-signal"></i> <%= t('.chooseustitle1') %></h2>
			<hr class="light">
			<div class="row">
				<h3><%= t('.chooseus1_subtitle1_html') %></h3>
				<p><%= t('.chooseus1_text1_html') %></p>
				<%= active_link_to t('.findout'), memberships_path, class: "button" %>
			</div>
			<div class="row">
				<h3><%= t('.chooseus1_subtitle2') %></h3>
				<p><%= t('.chooseus1_text2_html') %></p>
				<%= active_link_to t('.findout'), method_path, class: "button" %>
			</div>
			<div class="row">
				<h3><%= t('.chooseus1_subtitle3') %></h3>
				<p><%= t('.chooseus1_text3') %></p>
				<%= active_link_to t('.findout'), memberships_path, class: "button" %>
			</div>
			<div class="row">
				<h3><%= t('.chooseus1_subtitle4') %></h3>
				<p><%= t('.chooseus1_text4') %></p>
				<%= active_link_to t('.findout'), memberships_path, class: "button" %>
			</div>
			<div class="row">
				<h3><%= t('.chooseus1_subtitle5') %></h3>
				<p><%= t('.chooseus1_text5') %></p>
				<%= active_link_to t('.findout'), memberships_path, class: "button" %>
			</div>
		</div>

		<div class="four columns">
			<h2><i class="fa fa-pencil"></i> <%= t('.chooseustitle2') %></h2>
			<hr class="light">
			<br />
			<%= image_tag "boy_reading.jpg" %>
			<br /><br />
			<div class="row">
				<h3><%= t('.chooseus2_subtitle1') %></h3>
				<p><%= t('.chooseus2_text1') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus2_subtitle2') %></h3>
				<p><%= t('.chooseus2_text2') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus2_subtitle3') %></h3>
				<p><%= t('.chooseus2_text3_part1') %><%= active_link_to t('.chooseus2_text3_part2'), resources_path(:anchor => "acommodation"), class: "link" %><%= t('.chooseus2_text3_part3') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus2_subtitle4') %></h3>
				<p><%= t('.chooseus2_text4_part1') %><%= active_link_to "Learn Realquick Method", method_path, class: "link" %><%= t('.chooseus2_text4_part2_html') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus2_subtitle5') %></h3>
				<br />
				<%= image_tag "students_activity.jpg" %>
				<br /><br />
				<p><%= t('.chooseus2_text5') %></p>
				<%= active_link_to t('.findout'), method_path, class: "button" %>
			</div>
		</div>

		<div class="four columns">
			<h2><i class="fa fa-certificate"></i> <%= t('.chooseustitle3') %></h2>
			<hr class="light">
			<div class="row">
				<h3><%= t('.chooseus3_subtitle1') %></h3>
				<p><%= t('.chooseus3_text1_html') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus3_subtitle2') %></h3>
				<p><%= t('.chooseus3_text2') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus3_subtitle3') %></h3>
				<p><%= t('.chooseus3_text3') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus3_subtitle4') %></h3>
				<p><%= t('.chooseus3_text4') %></p>
			</div>
			<div class="row">
				<h3><%= t('.chooseus3_subtitle5') %></h3>
				<br />
				<%= image_tag "lily.jpg" %>
				<br /><br />
				<p><%= t('.chooseus3_text5') %></p>
				<note>Lily, teacher</note>
			</div>
		</div>

	</div>

	<div class="row">

		<div class="twelve columns">
			<h2><i class="fa fa-users"></i>  <%= t('.chooseustitle4') %></h2>
			<hr class="light">			
		</div>

		<div class="four columns">
			<h3><%= t('.chooseus4_subtitle1') %></h3>
			<p><%= t('.chooseus4_text1') %></p>
			<%= image_tag "lisa_italy.jpg", width: '180' %>
			<hr class="light">
			<h3>Maki, Japan</h3>
			<hr class="light">
			<note><%= t('.chooseus4_note1') %></note>
		</div>
		<div class="four columns">
			<h3><%= t('.chooseus4_subtitle2') %></h3>
			<p><%= t('.chooseus4_text2') %></p>
			<%= image_tag "julien_collas_france.jpg", width: '180' %>
			<hr class="light">
			<h3>Marcony, Brazil</h3>
			<hr class="light">
			<note><%= t('.chooseus4_note2') %></note>
		</div>
		<div class="four columns">
			<h3><%= t('.chooseus4_subtitle3') %></h3>
			<p><%= t('.chooseus4_text3') %></p>
			<%= image_tag "lisa_italy.jpg", width: '180' %>
			<hr class="light">
			<h3>Beata, Poland</h3>
			<hr class="light">
			<note><%= t('.chooseus4_note3') %></note>
		</div>

	</div>

</section>
