<section class="courses">

	<div class="row">
		<h2><%= t('.title') %></h2>
		<hr class="light">

		<div class="four columns course">
			<h3><%= simple_format t('.coursetitle1') %></h3>
			<h4><%= t('.courseopenhours1') %></h4>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>

			<h2><%= t('.coursestart') %></h2>
			<h4><%= t('.coursestarttext1') %></h4>
			<h4><%= t('.learn') %></h4>
			<ol>
				<% t('.coursecontentlist1').each_line do |listitem| %>
				  <li><%= listitem %></li>
				<% end %>
			</ol>
			<hr class="light">

			<p><%= simple_format t('.coursecontenttext1') %></p>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
		</div>

		<div class="four columns course">
			<h3><%= simple_format t('.coursetitle2') %></h3>
			<h4><%= t('.courseopenhours2') %></h4>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
			
			<h2><%= t('.coursestart') %></h2>
			<h4><%= t('.coursestarttext2') %></h4>
			<h4><%= t('.learn') %></h4>
			<ol>
				<% t('.coursecontentlist2').each_line do |listitem| %>
				  <li><%= listitem %></li>
				<% end %>
			</ol>
			<hr class="light">

			<p><%= simple_format t('.coursecontenttext2') %></p>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
		</div>

		<div class="four columns course">
			<h3><%= simple_format t('.coursetitle3') %></h3>
			<h4><%= t('.courseopenhours3') %></h4>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
			
			<h2><%= t('.coursestart') %></h2>
			<h4><%= t('.coursestarttext3') %></h4>
			<h4><%= t('.learn') %></h4>
			<ol>
				<% t('.coursecontentlist3').each_line do |listitem| %>
				  <li><%= listitem %></li>
				<% end %>
			</ol>
			<hr class="light">

			<p><%= simple_format t('.coursecontenttext3') %></p>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
		</div>

	</div>

</section>
