<section class="courses">

	<div class="row">
		<h2><%= t('.title') %></h2>
		<hr class="light">

		<div class="four columns course">
			<h3><%= simple_format t('.coursetitle1') %></h3>
			<h4><%= t('.courseopenhours1') %></h4>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>

			<h2><%= t('.coursestart') %></h2>
			<h4><%= t('.coursestarttext1') %></h4>
			<h4><%= t('.learn') %></h4>
			<ol>
				<% t('.coursecontentlist1').each_line do |listitem| %>
				  <li><%= listitem %></li>
				<% end %>
			</ol>
			<hr class="light">

			<p><%= simple_format t('.coursecontenttext1') %></p>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
		</div>

		<div class="four columns course">
			<h3><%= simple_format t('.coursetitle2') %></h3>
			<h4><%= t('.courseopenhours2') %></h4>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
			
			<h2><%= t('.coursestart') %></h2>
			<h4><%= t('.coursestarttext2') %></h4>
			<h4><%= t('.learn') %></h4>
			<ol>
				<% t('.coursecontentlist2').each_line do |listitem| %>
				  <li><%= listitem %></li>
				<% end %>
			</ol>
			<hr class="light">

			<p><%= simple_format t('.coursecontenttext2') %></p>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
		</div>

		<div class="four columns course">
			<h3><%= simple_format t('.coursetitle3') %></h3>
			<h4><%= t('.courseopenhours3') %></h4>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
			
			<h2><%= t('.coursestart') %></h2>
			<h4><%= t('.coursestarttext3') %></h4>
			<h4><%= t('.learn') %></h4>
			<ol>
				<% t('.coursecontentlist3').each_line do |listitem| %>
				  <li><%= listitem %></li>
				<% end %>
			</ol>
			<hr class="light">

			<p><%= simple_format t('.coursecontenttext3') %></p>

			<div>
				<%= active_link_to t('.membership'), memberships_path, class: "button" %>
				<%= active_link_to "Silver", memberships_path(:anchor => "table"), class: "button silver" %>
				<%= active_link_to "Gold", memberships_path(:anchor => "table"), class: "button gold" %>
				<%= active_link_to "Platinum", memberships_path(:anchor => "table"), class: "button platinum" %>
			</div>
		</div>

	</div>


	<div class="ten columns offset-by-one">
		<h4><i class="fa fa-asterisk"></i> You can choose our other Special Courses individually</h4>

		<div class="row">
			<br />
			<h2><%= t('.coursesPackagetitle2') %></h2>
			<hr class="light">
			<div class="five columns">
				<%= image_tag "Innovative_Ways_To_Learn_English_Quickly.png" %>
			</div>
			<div class="four columns">
				<p><%= simple_format t('.coursesPackagetext2') %></p>
				<a class="button">PAYPAL BUY NOW</a>
<<<<<<< HEAD
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="QCTPG6BA3J96W">
<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>


=======

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="QCTPG6BA3J96W">
				<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
				</form>
>>>>>>> slideOK

				<div class="row">
					<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<br />
			<h2><%= t('.coursesPackagetitle6_html') %></h2>
			<hr class="light">
			<div class="five columns">
				<%= image_tag "Learn_RealquickTM_Infographics.png" %>
			</div>
			<div class="four columns">
				<p><%= simple_format t('.coursesPackagetext6') %></p>
				<a class="button">PAYPAL BUY NOW</a>
				<div class="row">
					<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<br />
			<h2><%= t('.coursesPackagetitle10') %></h2>
			<hr class="light">
			<div class="five columns">
				<%= image_tag "Tutorial_of_Accelerated_learning.png" %>
			</div>
			<div class="four columns">
				<p><%= simple_format t('.coursesPackagetext10') %></p>
				<a class="button">PAYPAL BUY NOW</a>
				<div class="row">
					<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<br />
			<h2><%= t('.coursesPackagetitle11') %></h2>
			<hr class="light">
			<div class="five columns">
				<%= image_tag "Job_Seeking_Tutorial.png" %>
			</div>
			<div class="four columns">
				<p><%= simple_format t('.coursesPackagetext11') %></p>
				<a class="button">PAYPAL BUY NOW</a>
				<div class="row">
					<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
				</div>
			</div>
		</div>

		<hr>

	</div>

</section>
