<div class="memberships">

	<div class="row">
		<h4><i class="fa fa-th-list"></i> <%= t('.title') %></h4>
		<div class="four columns member">
			<h2 class="starsilver">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			</h2>
			<h2><%= t('.memberstitle1') %></h2>
			<p><%= t('.memberstext1') %></p>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#silver" class="button"><%= t('.findout') %></a>
		</div>

		<div class="four columns member">
			<h2 class="stargold">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			</h2>
			<h2><%= t('.memberstitle2') %></h2>
			<p><%= t('.memberstext2') %></p>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#gold" class="button"><%= t('.findout') %></a>
		</div>


		<div class="four columns member">
			<h2 class="starplatinum">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			</h2>
			<h2><%= t('.memberstitle3') %></h2>
			<p><%= t('.memberstext3') %></p>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#platinum" class="button"><%= t('.findout') %></a>
		</div>

	</div>

</div>

<div class="twelve columns">

	<div id="table">

	    <div class="title">
	        <hr class="light">
	        <p><%= t('.include') %></p>
	        <hr class="light">
	    </div>

	    <div class="heading">
	        <div class="cell">
	            <p>What You Get:</p>
	        </div>
	        <div class="cell">
	            <h2>Silver Members</h2>
	            <p>Elementary Level<br />
	            Pre –Intermediate Level<br />
	            Intermediate Level</p>
	        </div>
	        <div class="cell">
	            <h2>Gold Members</h2>
	            <p>Elementary Level<br />
	            Pre –Intermediate Level<br />
	            Intermediate Level</p>
	        </div>
	        <div class="cell">
	            <h2>Platinum Members</h2>
	            <p>Elementary Level<br />
	            Pre –Intermediate Level<br />
	            Intermediate Level</p>
	        </div>
	        <div class="cell">
	            <p><i class="fa fa-th"></i> </p>
	        </div>
	    </div>

	    <div class="rowcell color">
	        <div class="cell">
	            <p>1 Week</p>
	        </div>
	        <div class="cell">
	            <p class="button silver">£77</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button silver">£127</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button gold">£87</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button gold">£137</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button platinum">£127</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button platinum">£177</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>4 Weeks</p>
	        </div>
	        <div class="cell">
	            <p class="button silver">£277</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button silver">£327</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button gold">£287</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button gold">£337</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button platinum">£327</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button platinum">£377</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p></p>
	        </div>
	    </div>

	    <div class="rowcell color">
	        <div class="cell">
	            <p>8 Weeks</p>
	        </div>
	        <div class="cell">
	            <p class="button silver">£497</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button silver">£547</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button gold">£507</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button gold">£557</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button platinum">£547</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button platinum">£597</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>12 Weeks</p>
	        </div>
	        <div class="cell">
	            <p class="button silver">£697</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button silver">£747</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button gold">£707</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button gold">£757</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p class="button platinum">£747</p>
	            <a href="#" class="button">Paypal button</a>
	            <hr>
	            <p>First time's registration fee<br />(+ £50) <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-arrow-down"></i></p>
	            <p class="button platinum">£797</p>
	            <a href="#" class="button">Paypal button</a>
	        </div>
	        <div class="cell">
	            <p></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Classes at Purple Stone Academy</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£77/ week <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Audiobook of “Innovative Ways To Learn English Quickly”</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£10 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Ebook “Innovative Ways To Learn English Quickly”</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£27 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>“Climbing Big Ben. How To Survive, Thrive and Succeed In London” book</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£44 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Get Free Learning Materials</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£25 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Infographics pack</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£100 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><i class="fa fa-coffee"></i> Free tea and coffee</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£10 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>1 hour Learning Progress Assessment once every 8 weeks</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>1 hour Learning Progress Assessment once every four weeks</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>CV correction</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>1 hour Learning Progress Assessment once every two week</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Tutorial of Accelerated learning</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£300 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Job Seeking Tutorial</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£150 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Maths Cashier Exam and Certificate</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£200 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>Food Safety level 2 City and Guilds</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£200 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p>1 hour coaching every 2 weeks</p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>


	</div><!--  #table -->

	<hr class="light">
	<br />
</div>

<div class="ten columns offset-by-one">

	<div class="row">
		<hr>
		<p><%= t('.membdesc') %></p>
		<hr>
		
		<div id="silver"></div>

		<div class="row">
			<div class="six columns">
				<h2 class="starsilver">
					<i class="fa fa-star"></i> 
				</h2>
				<h2>Silver Membership</h2>
			</div>		
		</div>

		<hr class="light">
		
		<h5>Our Silver Membership includes:</h5>
		<hr class="light">

		<h3><i class="fa fa-check"></i> Classes at Purple Stone Academy</h3>
		<ul>
			<li>Learn quickly thanks to our accelerated learning techniques</li>
			<li>Make quick progress with all areas of English</li>
			<li>Improve your work prospects</li>
			<li>Advance rapidly with your English</li>
			<li>Learn in a dynamic and friendly environment</li>
			<li>Practice Speaking, Writing, Listening, Reading</li>
			<li>Get 10 hours of tuition per week</li>
			<li>Get Regular evaluation</li>
			<li>Get a Certificate of achievement at the end of minimum 20 hours of study</li>
			<li>Get Access to free tips and strategies for learning English and blog</li>
			<li>Get multilingual support</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Audiobook of “Innovative Ways To Learn English Quickly”</h3>
		<ul>
			<li>This audiobook will give you the tools to learn quickly using accelerated learning techniques</li>
			<li>This audiobook will teach you how to use memory techniques, music, learning maps, whole brain learning, and other techniques in order to maximise your learning.</li>
			<li>This is a fantastic guidebook for you if you are currently frustrated of trying to learn English and you wish to find a better and faster way to improve your English. This is exactly the system I have used to learn 4 languages.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Book called “Innovative Ways To Learn English Quickly”</h3>
		<ul>
			<li>This book will show you how to use accelerated learning techniques in order to learn English quickly</li>
			<li>You will learn how to use memory techniques, music, learning maps, whole brain learning, and other techniques in order to maximise your learning.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> "Climbing Big Ben. How To Survive, Thrive and Succeed In London” book</h3>
		<p>This book will give you fantastic strategies for succeeding in London. This is an amazing book written by Harry Sardinas, the director of our company. This teaches you how to climb the ladder of work so that you can get out of the vicious circle of the rat race. You will find out strategies for getting your first job, preparing your mind for success, getting your dream job, starting your first business, and succeeding in your first business.</p><br />

		<h3><i class="fa fa-check"></i> Get Free Learning Materials</h3>
		<p>You will get free learning materials, and you don’t need a coursebook.</p><br />

		<h3><i class="fa fa-check"></i> Get our Learn Realquick™ Infographics pack</h3>
		<p>This will help you because it will show you the key things you need to do in order to learn English</p><br />

		<h3><i class="fa fa-check"></i> Free tea and coffee</h3>
		<p>We like our students to feel relaxed and comfortable and that is why we offer free tea and coffee.</p><br />

		<h3><i class="fa fa-check"></i> 1 hour Learn Realquick™ Learning Progress Assessment once every 8 weeks</h3>
		<p>We believe it is essential that you tell us what your aspirations, strengths and weaknesses are so that we can help you in the best way that we can. That is why, when you join any of our courses, you will benefit from a one hour learning assessment. You will fill in a form that will establish what your strengths and weaknesses are and your career goals so that we can guide you according to your individual requirements.</p><br />

		<br />
		<hr>

		<div id="gold"></div>

		<div class="row">
			<div class="six columns">
				<h2 class="stargold">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
				</h2>
				<h2>Gold Membership</h2>
			</div>
			
		</div>

		<hr class="light">
		
		<h5>Our Gold Membership includes:</h5>
		<hr class="light">

		<h3><i class="fa fa-check"></i> Classes at Purple Stone Academy</h3>
		<ul>
			<li>Learn quickly thanks to our accelerated learning techniques</li>
			<li>Make quick progress with all areas of English</li>
			<li>Improve your work prospects</li>
			<li>Advance rapidly with your English</li>
			<li>Learn in a dynamic and friendly environment</li>
			<li>Practice Speaking, Writing, Listening, Reading</li>
			<li>Get 10 hours of tuition per week</li>
			<li>Get Regular evaluation</li>
			<li>Get a Certificate of achievement at the end of minimum 20 hours of study</li>
			<li>Get Access to free tips and strategies for learning English and blog</li>
			<li>Get multilingual support</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Audiobook of “Innovative Ways To Learn English Quickly”</h3>
		<ul>
			<li>This audiobook will give you the tools to learn quickly using accelerated learning techniques</li>
			<li>This audiobook will teach you how to use memory techniques, music, learning maps, whole brain learning, and other techniques in order to maximise your learning.</li>
			<li>This is a fantastic guidebook for you if you are currently frustrated of trying to learn English and you wish to find a better and faster way to improve your English. This is exactly the system I have used to learn 4 languages.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Book called “Innovative Ways To Learn English Quickly”</h3>
		<ul>
			<li>This book will show you how to use accelerated learning techniques in order to learn English quickly</li>
			<li>You will learn how to use memory techniques, music, learning maps, whole brain learning, and other techniques in order to maximise your learning.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> "Climbing Big Ben. How To Survive, Thrive and Succeed In London” book</h3>
		<p>This book will give you fantastic strategies for succeeding in London. This is an amazing book written by Harry Sardinas, the director of our company. This teaches you how to climb the ladder of work so that you can get out of the vicious circle of the rat race. You will find out strategies for getting your first job, preparing your mind for success, getting your dream job, starting your first business, and succeeding in your first business.</p><br />

		<h3><i class="fa fa-check"></i> Get Free Learning Materials</h3>
		<p>You will get free learning materials, and you don’t need a coursebook.</p><br />

		<h3><i class="fa fa-check"></i> Get our Learn Realquick™ Infographics pack</h3>
		<p>This will help you because it will show you the key things you need to do in order to learn English</p><br />

		<h3><i class="fa fa-check"></i> Free tea and coffee</h3>
		<p>We like our students to feel relaxed and comfortable and that is why we offer free tea and coffee.</p><br />

		<h3><i class="fa fa-check"></i> 1 hour Learn Realquick™ Learning Progress Assessment once every 4 weeks</h3>
		<p>We believe it is essential that you tell us what your aspirations, strengths and weaknesses are so that we can help you in the best way that we can. That is why, when you join any of our courses, you will benefit from a one hour learning assessment. You will fill in a form that will establish what your strengths and weaknesses are and your career goals so that we can guide you according to your individual requirements.</p>
		<br />

		<h3><i class="fa fa-check"></i> CV correction</h3>
		<p>If you are like most of our students, you may be looking for a job and may require a CV correction.</p><br />

		<br />
		<hr>

		<div class="row">
			<div id="platinum"></div>

			<div class="six columns">
				<h2 class="starplatinum">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
				</h2>
				<h2>Platinum Membership</h2>
			</div>
			
		</div>

		<hr class="light">
		
		<h5>Our Platinum Membership includes:</h5>
		<hr class="light">

		<h3><i class="fa fa-check"></i> Classes at Purple Stone Academy</h3>
		<ul>
			<li>Learn quickly thanks to our accelerated learning techniques</li>
			<li>Make quick progress with all areas of English</li>
			<li>Improve your work prospects</li>
			<li>Advance rapidly with your English</li>
			<li>Learn in a dynamic and friendly environment</li>
			<li>Practice Speaking, Writing, Listening, Reading</li>
			<li>Get 10 hours of tuition per week</li>
			<li>Get Regular evaluation</li>
			<li>Get a Certificate of achievement at the end of minimum 20 hours of study</li>
			<li>Get Access to free tips and strategies for learning English and blog</li>
			<li>Get multilingual support</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Audiobook of “Innovative Ways To Learn English Quickly”</h3>
		<ul>
			<li>This audiobook will give you the tools to learn quickly using accelerated learning techniques</li>
			<li>This audiobook will teach you how to use memory techniques, music, learning maps, whole brain learning, and other techniques in order to maximise your learning.</li>
			<li>This is a fantastic guidebook for you if you are currently frustrated of trying to learn English and you wish to find a better and faster way to improve your English. This is exactly the system I have used to learn 4 languages.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Book called “Innovative Ways To Learn English Quickly”</h3>
		<ul>
			<li>This book will show you how to use accelerated learning techniques in order to learn English quickly</li>
			<li>You will learn how to use memory techniques, music, learning maps, whole brain learning, and other techniques in order to maximise your learning.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> "Climbing Big Ben. How To Survive, Thrive and Succeed In London” book</h3>
		<p>This book will give you fantastic strategies for succeeding in London. This is an amazing book written by Harry Sardinas, the director of our company. This teaches you how to climb the ladder of work so that you can get out of the vicious circle of the rat race. You will find out strategies for getting your first job, preparing your mind for success, getting your dream job, starting your first business, and succeeding in your first business.</p><br />

		<h3><i class="fa fa-check"></i> Get Free Learning Materials</h3>
		<p>You will get free learning materials, and you don’t need a coursebook.</p><br />

		<h3><i class="fa fa-check"></i> Get our Learn Realquick™ Infographics pack</h3>
		<p>This will help you because it will show you the key things you need to do in order to learn English</p><br />

		<h3><i class="fa fa-check"></i> Free tea and coffee</h3>
		<p>We like our students to feel relaxed and comfortable and that is why we offer free tea and coffee.</p><br />

		<h3><i class="fa fa-check"></i> 1 hour Learn Realquick™ Learning Progress Assessment once every 4 weeks</h3>
		<p>We believe it is essential that you tell us what your aspirations, strengths and weaknesses are so that we can help you in the best way that we can. That is why, when you join any of our courses, you will benefit from a one hour learning assessment. You will fill in a form that will establish what your strengths and weaknesses are and your career goals so that we can guide you according to your individual requirements.</p>
		<br />

		<h3><i class="fa fa-check"></i> CV correction</h3>
		<p>If you are like most of our students, you may be looking for a job and may require a CV correction.</p><br />

		<h3><i class="fa fa-check"></i> Tutorial of Accelerated learning</h3>
		<ul>
			<li>In this step –by –step language tutorial you will learn how to improve your English quickly using accelerated language techniques.</li>
			<li>You will learn memory techniques, how to use visual material, music and whole brain learning to accelerate your learning.</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Job Seeking Tutorial</h3>
		<ul>
			<li>You will learn fantastic strategies about how to get your first job in London</li>
			<li>You will learn interview techniques</li>
			<li>You will find out how to be a winner at job interviews</li>
			<li>You will learn how to get your dream job</li>
			<li>Find out where to apply online and offline</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Maths Cashier Certificate and Exam</h3>
		<ul>
			<li>Get a Maths Cashier Certificate awarded by Purple Stone Career Advice</li>
			<li>This certificate shows a potential employer you have basic numeracy skills necessary for bartenders and cashiers</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> Food Safety Certificate and Exam</h3>
		<ul>
			<li>Get a Food Safety certificate awarded by Purple Stone Academy</li>
			<li>This will help you for working as a kitchen porter or in catering jobs dealing with food</li>
		</ul>
		<br />

		<h3><i class="fa fa-check"></i> 1 hour of coaching every 2 weeks</h3>
		<ul>
			<li>Get help and guidance in achieving your career goals</li>
			<li>This session is going to be very helpful for you if you have certain goals you want to achieve but you are unsure how to do that</li>
		</ul>
		<br />

	</div>	

</div>




