<div class="memberships">

	<div class="row">
		<h4><i class="fa fa-th-list"></i> <%= t('.title') %></h4>

		<div class="four columns member">
			<h2 class="starsilver">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i>
			</h2>
			<h2><%= t('.memberstitle1') %></h2>
			<p><%= t('.memberstext1') %></p>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#silver" class="button"><%= t('.findout') %></a>

			
	        <div class="boxes boxes_silver">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.1week') %></h2>
		      
		        <div class="boxes_interior">
		            <p class="button silver">£77</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button silver">£127</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_silver">
		        <h2><i class="fa fa-calendar-o"></i> <%= t('.4week') %></h2>

		        <div class="boxes_interior">
		            <p class="button silver">£277</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button silver">£327</p>
		            <a href="#" class="button">Paypal button</a>
	            </div>
	        </div>

	        <div class="boxes boxes_silver">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.8week') %></h2>

		        <div class="boxes_interior">
		            <p class="button silver">£497</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></i></p>
		            <p class="button silver">£547</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_silver">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.12week') %></h2>

		        <div class="boxes_interior">
		            <p class="button silver">£697</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button silver">£747</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

		</div>


		<div class="four columns member">
			<h2 class="stargold">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			</h2>
			<h2><%= t('.memberstitle2') %></h2>
			<p><%= t('.memberstext2') %></p>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#gold" class="button"><%= t('.findout') %></a>

	        <div class="boxes boxes_gold">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.1week') %></h2>

		        <div class="boxes_interior">
		            <p class="button gold">£87</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button gold">£137</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_gold">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.4week') %></h2>

		        <div class="boxes_interior">
		            <p class="button gold">£287</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button gold">£337</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_gold">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.8week') %></h2>

		        <div class="boxes_interior">
		            <p class="button gold">£507</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button gold">£557</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_gold">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.12week') %></h2>

		        <div class="boxes_interior">
		            <p class="button gold">£707</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button gold">£757</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

		</div>


		<div class="four columns member">
			<h2 class="starplatinum">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
			</h2>
			<h2><%= t('.memberstitle3') %></h2>
			<p><%= t('.memberstext3') %></p>
			<div class="row">
				<%= image_tag "guarantee.png", width: '120', class: "guarantee" %>
			</div>
			<a href="#platinum" class="button"><%= t('.findout') %></a>

	        <div class="boxes boxes_platinum">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.1week') %></h2>

		        <div class="boxes_interior">
		            <p class="button platinum">£127</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button platinum">£177</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_platinum">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.4week') %></h2>

		        <div class="boxes_interior">
		            <p class="button platinum">£327</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button platinum">£377</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_platinum">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.8week') %></h2>

		        <div class="boxes_interior">
		            <p class="button platinum">£547</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button platinum">£597</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

	        <div class="boxes boxes_platinum">
	        	<h2><i class="fa fa-calendar-o"></i> <%= t('.12week') %></h2>

		        <div class="boxes_interior">
		            <p class="button platinum">£747</p>
		            <a href="#" class="button">Paypal button</a>
		            <hr>
		            <p><%= t('.firstfee') %> <i class="fa fa-arrow-down"></i></p>
		            <p class="button platinum">£797</p>
		            <a href="#" class="button">Paypal button</a>
		        </div>
	        </div>

		</div>

	</div>

</div>


<div class="twelve columns">

	<div id="table">

	    <div class="title">
	        <hr class="light">
	        <p><%= t('.include') %></p>
	        <hr class="light">
	    </div>

	    <div class="heading">
	        <div class="cell">
	            <p><%= t('.get') %></p>
	        </div>
	        <div class="cell">
	        	<h2 class="starsilver">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i>
				</h2>
	            <h2><%= t('.memberstitle1') %></h2>
	            <p><%= simple_format t('.levels') %></p>
	        </div>
	        <div class="cell">
	            <h2 class="stargold">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
				</h2>
				<h2><%= t('.memberstitle2') %></h2>
	            <p><%= simple_format t('.levels') %></p>
	        </div>
	        <div class="cell">
	            <h2 class="starplatinum">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
				</h2>
				<h2><%= t('.memberstitle3') %></h2>
	            <p><%= simple_format t('.levels') %></p>
	        </div>
	        <div class="cell">
	            <p><i class="fa fa-th"></i> </p>
	        </div>
	    </div>


	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle1') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£77/ week <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle2') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£10 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle3') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£27 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle4') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£44 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle5') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£25 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle6') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£100 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><i class="fa fa-coffee"></i> <%= t('.celltitle7') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£10 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle8') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle9') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle10') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle11') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle12') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£300 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle13') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£150 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle14') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£200 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle15') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£200 <%= t('.value') %></p>
	        </div>
	    </div>

	    <div class="rowcell">
	        <div class="cell">
	            <p><%= t('.celltitle16') %></p>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-times"></i></h2>
	        </div>
	        <div class="cell">
	            <h2><i class="fa fa-check"></i></h2>
	        </div>
	        <div class="cell">
	            <p>£50 <%= t('.value') %></p>
	        </div>
	    </div>


	</div><!--  #table -->

	<hr class="light">
	<br />
</div>

<div class="ten columns offset-by-one">

	<div class="row">
		<hr>
		<p><%= t('.membdesc') %></p>
		<hr>
		
		<div id="silver"></div>

		<div class="row">
			<div class="six columns">
				<h2 class="starsilver">
					<i class="fa fa-star"></i> 
				</h2>
				<h2><%= t('.membershipstitle1') %></h2>
			</div>		
		</div>

		<hr class="light">
		
		<h5><%= t('.whatincludesilver') %></h5>
		<hr class="light">

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle1') %></h3>
		<ol>
			<% t('.memberfeaturetext1').each_line do |listitem| %>
			<li><%= listitem %></li>
			<% end %>
		</ol>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle2') %></h3>
		<p><%= simple_format t('.memberfeaturetext2') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle3') %></h3>
		<p><%= simple_format t('.memberfeaturetext3') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle4') %></h3>
		<p><%= t('.memberfeaturetext4') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle5') %></h3>
		<p><%= t('.memberfeaturetext5') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle6_html') %></h3>
		<p><%= t('.memberfeaturetext6') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle7') %></h3>
		<p><%= t('.memberfeaturetext7') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle8_html') %></h3>
		<p><%= t('.memberfeaturetext8') %></p><br />

		<br />
		<hr>

		<div id="gold"></div>

		<div class="row">
			<div class="six columns">
				<h2 class="stargold">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
				</h2>
				<h2><%= t('.membershipstitle2') %></h2>
			</div>
			
		</div>

		<hr class="light">
		
		<h5><%= t('.whatincludegold') %></h5>
		<hr class="light">

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle1') %></h3>
		<ol>
			<% t('.memberfeaturetext1').each_line do |listitem| %>
			<li><%= listitem %></li>
			<% end %>
		</ol>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle2') %></h3>
		<p><%= simple_format t('.memberfeaturetext2') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle3') %></h3>
		<p><%= simple_format t('.memberfeaturetext3') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle4') %></h3>
		<p><%= t('.memberfeaturetext4') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle5') %></h3>
		<p><%= t('.memberfeaturetext5') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle6_html') %></h3>
		<p><%= t('.memberfeaturetext6') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle7') %></h3>
		<p><%= t('.memberfeaturetext7') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle8_html') %></h3>
		<p><%= t('.memberfeaturetext8') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle9') %></h3>
		<p><%= t('.memberfeaturetext9') %></p><br />

		<br />
		<hr>

		<div class="row">
			<div id="platinum"></div>

			<div class="six columns">
				<h2 class="starplatinum">
					<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
				</h2>
				<h2><%= t('.membershipstitle3') %></h2>
			</div>
			
		</div>

		<hr class="light">
		
		<h5><%= t('.whatincludeplatinum') %></h5>
		<hr class="light">

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle1') %></h3>
		<ol>
			<% t('.memberfeaturetext1').each_line do |listitem| %>
			<li><%= listitem %></li>
			<% end %>
		</ol>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle2') %></h3>
		<p><%= simple_format t('.memberfeaturetext2') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle3') %></h3>
		<p><%= simple_format t('.memberfeaturetext3') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle4') %></h3>
		<p><%= t('.memberfeaturetext4') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle5') %></h3>
		<p><%= t('.memberfeaturetext5') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle6_html') %></h3>
		<p><%= t('.memberfeaturetext6') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle7') %></h3>
		<p><%= t('.memberfeaturetext7') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle8_html') %></h3>
		<p><%= t('.memberfeaturetext8') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle9') %></h3>
		<p><%= t('.memberfeaturetext9') %></p><br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle10') %></h3>
		<p><%= simple_format t('.memberfeaturetext10') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle11') %></h3>
		<p><%= simple_format t('.memberfeaturetext11') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle12') %></h3>
		<p><%= simple_format t('.memberfeaturetext12') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle13') %></h3>
		<p><%= simple_format t('.memberfeaturetext13') %></p>
		<br />

		<h3><i class="fa fa-check"></i> <%= t('.memberfeaturetitle14') %></h3>
		<p><%= simple_format t('.memberfeaturetext14') %></p>
		<br />

	</div>	

</div>




