<div class="row">
	<%= image_tag "method2_purplestone.jpg", alt: "Our Method in Purple Stone Academy" %>
</div>
<section class="ten columns offset-by-one method">

	<div class="row">
		<h2><i class="fa fa-certificate"></i> <%= t('.title') %></h2>
		<hr class="light">

		<div class="three columns">
			<h3><%= t('.methodtitle1') %></h3>
			<p><%= t('.methodtext1') %></p>
		</div>

		<div class="three columns">
			<h3><%= t('.methodtitle2') %></h3>
			<p><%= t('.methodtext2') %></p>
		</div>

		<div class="three columns">
			<h3><%= t('.methodtitle3') %></h3>
			<p><%= t('.methodtext3') %></p>
		</div>
	</div>

	<%= image_tag "method_purplestone.jpg", alt: "Our Method in Purple Stone Academy" %>
	
	<div id="method" class="row">
		<h2><%= t('.methodtitle4') %></h2>
		<hr class="light">
		<div class="five columns">
			<p><%= simple_format t('.methodtext4') %></p>
		</div>
		
		<div class="four columns">
			<%= image_tag "academy_energy.jpg", alt: "Our Method in Purple Stone Academy" %>
			<p><%= simple_format t('.methodtext5') %></p>
		</div>
		
		<%= image_tag "academia_bodegon.jpg", alt: "Our Method in Purple Stone Academy" %>


	</div>

</section>
