<section class="stories">

	<div class="row">

		<div class="ten columns offset-by-one">
			<h2><i class="fa fa-comments-o"></i> <%= t('.title') %></h2>
			<hr class="light">
			<%= image_tag "academy_purplestone.jpg" %>
			<br />
			<p>Itziar, Amira, Stefano, Lily (teacher), Amina at Purple Stone Academy.</p>
			<br /><br />

			<div class="row">

				<div class="three columns">

					<h3>Marcony, Brazil</h3>
					<hr class="light">
					<%= image_tag "marconi_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments1') %> <i class="fa fa-quote-right"></i></p>

					<hr class="light">
					
					<note><%= t('.storyreview1') %></note>
					
				</div>

				<div class="three columns">

					<h3>Lisa D’Oria, Italy</h3>
					<hr class="light">
					<%= image_tag "lisa_italy.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments2') %> <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note><%= t('.storyreview2') %></note>
					
				</div>

				<div class="three columns">

					<h3>Fernando, Spain</h3>
					<hr class="light">
					<%= image_tag "fernando_spain.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments3') %> <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note><%= t('.storyreview3') %></note>
					
				</div>

			</div>

			<hr class="light">
			<%= image_tag "academy2_purplestone.jpg" %>
			<br />
			<p>Itziar, Amira, Lily(teacher), Amina, Miguel.</p>
			<br /><br />

			<div class="row">

				<div class="three columns">

					<h3>Carlos, Colombia</h3>
					<br />
					<%= image_tag "carlos_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments4') %> <i class="fa fa-quote-right"></i></p>

					<br />
					<hr>
										
					<h3>Valeria, Romania</h3>
					<br />
					<%= image_tag "Valeria_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> The lessons are great and fun. The best thing is that I remember a lot from what we study because we learn with special methods <i class="fa fa-quote-right"></i></p>
										
					<br />
					<hr>

					<h3>Chiaffredo, Italy</h3>
					<br />
					<%= image_tag "chiaffredo_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hello, everyone. I am studying English at Purple Stone Academy and I am very happy to study here because we learn English very well because we have a wonderful teacher, so come to Purple Stone Academy! You are welcome! <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>

					<h3>Carmen, Romania</h3>
					<br />
					<%= image_tag "carmen_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments7') %> <i class="fa fa-quote-right"></i></p>
										
					<br />
					<hr>

					<h3>Laura, Spain</h3>
					<br />
					<%= image_tag "laura_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Purple Stone Academy helped me much because the classes are very funny and we are speaking all time.We are very few in the class and for that reason we can improve fast, and that is better for us <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>

					<h3>Vincenzo, Italy</h3>
					<br />
					<%= image_tag "vincenzo_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I believe that the study method that makes this school is suitable for all people because the lessons are simple and remain in the mind because they are made ​​with joy. Mine experience is so great because I got to London without knowing the English, and today I can already attend an interview <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>

					<h3>Amina, Algeria</h3>
					<br />

					<p><i class="fa fa-quote-left"></i> Hi everybody. My name is amina. I came to purple stone academy to study English .it’s a really good school. The teachers are friendly and helpful. I improved my English very quickly in a short time. The student come from all over the world, I have the opportunity to do new friendships Enjoy coming in it is so good AMINA. Algeria student at P.S.A <i class="fa fa-quote-right"></i></p>

					<br />
					<hr>

					<h3>Maria, Spain</h3>
					<br />

					<p><i class="fa fa-quote-left"></i> I love my teacher. She is so fun and we laugh so much at class. I recommend Purple Stone Academy to anyone <i class="fa fa-quote-right"></i></p>

										
				</div>

				<div class="three columns">

					<h3>Pier Porcu, Italy</h3>
					<br />
					<%= image_tag "Pier_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi everyone, I really liked the courses at Purple Stone Academy. I studied English for 2 weeks, but I really felt I improved my speaking. The classes are interactive and dynamic and I really recommend them! <i class="fa fa-quote-right"></i></p>

					<br />
					<hr>										

					<h3>Stefano Ermini, Italy</h3>
					<br />
					<%= image_tag "Stefano_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I studied in this school for 5 months, it was an amazing experience, I enjoyed it very much. The teachers are very competent. I improved my English very quickly. I recommend this school to anyone <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>

					<h3>Julien Collas, France</h3>
					<br />
					<%= image_tag "julien_collas_france.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Purple Stone Career Advice helped me to improve my English skills and find a job. I found a job after two weeks of coming to England! Thanks so much Miss Lily! Purple Stone Career Advice gives so many opportunities in London! <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note>Julien Collas studied English at Purple Stone Academy. He was also advised by us about how to find a job. Within two weeks he was able to get a job as a waiter.</note>
										
					<br /><br /><br />
					<hr>

					<h3>Marinela, Greece</h3>
					<br />
					<%= image_tag "Marinela_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi, I am Marinela. I startedStudying English  at Purple Stone Academy in August and within six weeks I managed to get a job as a barista because I improved my speaking and I also took some career advice and interview techniques from Lily at Purple Stone Career Advice. I highly recommend the school and the career advice! <i class="fa fa-quote-right"></i></p>

					<hr class="light">

					<note>Marinela has studied English with Purple Stone Academy for six weeks.</note>
										
					<br /><br /><br />
					<hr>

					<h3>Amira, Russia</h3>
					<br />
					<%= image_tag "Amira_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I chose Purple Stone Academy because the teachers are very professional and they lead the classes very well. The classes were funny and at the same time very productive. Lily is the best teacher! <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>

					<h3>Vali, Romania</h3>
					<br />
					<%= image_tag "photo_vali_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I started studying here 2 weeks ago and I learned a lot. I am very happy with the courses! I think I will find a job soon! <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>

					<h3>Tony, Italy</h3>
					<br />

					<p><i class="fa fa-quote-left"></i> I think the course is very good and the teacher is amazing. There are also very few people per class and that is why you learn a lot more in an hour than at other places <i class="fa fa-quote-right"></i></p>
					
					<br />
					<hr>					

					<h3>Pablo, Spain</h3>
					<br />

					<p><i class="fa fa-quote-left"></i> I like the course here because it is not expensive and it is very good. I came here two months ago and I was able to find a job in a restaurant because I improved my English at Purple Stone Academy <i class="fa fa-quote-right"></i></p>

										
				</div>

				<div class="three columns">

					<h3>Julie Marion, France</h3>
					<br />
					<%= image_tag "Julie_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Bonjour, Je suis inscrite dans cette école depuis 3 mois, et, pour avoir testé d'autres écoles plus connues, je recommande fortement Purple Stone Academy. En effet, grâce aux petites classes (max 6 personnes), on pratique beaucoup l'oral ce qui est très important pour moi, avec la grammaire. La prof a une technique bien à elle, mais très efficace. Pour ma part, j'ai vraiment eu l'impression de progresser <i class="fa fa-quote-right"></i></p>
										
					<br />
					<hr>

					<h3>Antonio, Italy</h3>
					<br />
					<%= image_tag "Antonio_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi guys, I studied at Purple Stone Academy. This course is really good because the teacher is really good and you learn really fast! <i class="fa fa-quote-right"></i></p>
										
					<br />
					<hr>

					<h3>Miguel Lopez, Spain</h3>
					<br />
					<%= image_tag "Miguel_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hello, everyone. I am Miguel and I have been studying at Purple Stone Academy. I like the classes very much because they are very interactive and you can improve your English very fast! <i class="fa fa-quote-right"></i></p>
															
					<br />
					<hr>

					<h3>David, Spain</h3>
					<br />
					<%= image_tag "David_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Me llamo David y esta es mi cuarta semana en Purple Stone Academy.Mi nivel de ingles era muy bajo,era imposible poder mantener una conversacion de mas de diez palabras,en este poco tiempo me he sentido como en casa,el trato es muy personalizado,las clases muy amenas y te ayudan a mejorar en todos aspectos de la lengua inglesa como gramatica,pronunciacion...En solo cuatro semanas estoy notando como estoy mejorando muy rapidamente y puedo desenvolverme en cualquier situacion de la vida cotidiana.Estoy muy agradecido por la paciencia,profesionalidad,apoyo y dedicacion de mi profesora Lily <i class="fa fa-quote-right"></i></p>
										
					<br />
					<hr>

					<h3>Isaac, Spain</h3>
					<br />
					<%= image_tag "Isaac_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi, my name is Isaac. I am studying in Purple Stone Academy and this is a very nice experience of my life. It is very important to learn English and I am very happy with the course <i class="fa fa-quote-right"></i></p>
										
					<br />
					<hr>

					<h3>Teo Vega, Spain</h3>
					<br />

					<p><i class="fa fa-quote-left"></i> Mi experiencia con purplestone academy es magnífica, realmente la recomiendo, la manera de dar clases es desenfadada y alegre, y van enfocando el contenido a las necesidades reales de los estudiantes ya sea encontrar un trabajo o simplemente aprender el idioma. En cuanto a purplestonerooms les puedo contar q estoy muy satisfecho, creo q son de las pocas agencias que dan tantas facilidades al cliente, facilidades para recuperar el depósito ante imprevistos, para cambiarte de casa si lo necesitas. Los precios de sus habitaciones están en la media del mercado y realmente no me parecen caros teniendo en cuenta q todas sus habitaciones están en zona 2, las subidas de precio que he sufrido a lo largo de estos casi dos años que llevo con ellos siempre han sido una única subida a principio de año y con suficiente tiempo de notificación por si no puedes afrontarlo tengas otras opciones, conozco a gente que lleva mucho tiempo más sin ir más lejos en mi casa hay una chica que lleva con ellos cerca de seis años y la experiencia mía y de las personas con las q he hablado es en general muy positiva, saben cómo darte una calurosa bienvenida e intentar q las cosas te salgan lo mejor posible. Realmente les aconsejo q contacten con ellos si quieren tratar con gente legal y tener una preocupación menos <i class="fa fa-quote-right"></i></p>
					

				</div>

			</div>




		</div>

	</div>

</section>
