<section class="stories">

	<div class="row">

		<div class="ten columns offset-by-one">
			<h2><i class="fa fa-comments-o"></i> <%= t('.title') %></h2>
			<hr class="light">
			<br />

			<div class="row">

				<div class="three columns">

					<h3>Marcony, Brazil</h3>
					<hr class="light">
					<%= image_tag "julien_collas_france.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I like the school very much. The staff are very friendly and open. I feel very comfortable studying in London, especially as we are provided with all the necessary things to do that <i class="fa fa-quote-right"></i></p>

					<hr class="light">
					
					<note>Marcony has studied with us for three months. He was unable to speak any English when he started the course and now he is able to return to his country having improved his English.</note>
					
				</div>

				<div class="three columns">

					<h3>Lisa D’Oria, Italy</h3>
					<hr class="light">
					<%= image_tag "lisa_italy.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi, I am Lisa. I attended Purple Stone Academy in the first month that I arrived in London. It is a really good school and the teachers are friendly and helpful with all the students. I learned a lot of things here. I highly recommend this school! I enjoy coming here because there are not many people so I improved a lot in a short time. One of the teachers corrected my CV and I am now in a better position to find a job <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note>Lisa has studied English with Purple Stone Academy for four weeks. She could not speak English well, and she was keen to get a job quickly so that she can progress in her work.</note>
					
				</div>

				<div class="three columns">

					<h3>Fernando, Spain</h3>
					<hr class="light">
					<%= image_tag "fernando_spain.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi, my name is Fernando. I came to Purple Stone Academy to study English a few months ago, because I wanted to be able to find a job in Spain using my English. I was amazed at the level of dedication, support, encouragement and help that the teachers were offering there. It is a very small school and that is why I improved my English very quickly here! <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note>Fernando has studied with Purple Stone Academy for two months. His English was at an intermediate level, yet he wanted to be able to improve his English so that he can get a better job.</note>
					
				</div>

			</div>


			<div class="row">

				<div class="three columns">

					<h3>Carlos, Colombia</h3>
					<hr class="light">
					<%= image_tag "julien_collas_france.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I love studying here. I started studying here three months ago. When I started studying, my English was very bad. I liked the fact that I was given a learning programme so that I knew what to focus on. I used to find the accent of the English people very hard to understand but I am getting much better thanks to the dedication of my teacher at Purple Stone Academy! The thing I like most is that we learn and we also have a great time! <i class="fa fa-quote-right"></i></p>

					<hr class="light">
										
				</div>

				<div class="three columns">

					<h3>Valeria, Romania</h3>
					<hr class="light">
					<%= image_tag "lisa_italy.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> The lessons are great and fun. The best thing is that I remember a lot from what we study because we learn with special methods <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
				</div>

				<div class="three columns">

					<h3>Tony, Italy</h3>
					<hr class="light">
					<%= image_tag "fernando_spain.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I think the course is very good and the teacher is amazing. There are also very few people per class and that is why you learn a lot more in an hour than at other places <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">

				</div>

			</div>

			<div class="row">

				<div class="three columns">

					<h3>Carmen, Romania</h3>
					<hr class="light">
					<%= image_tag "julien_collas_france.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I started my studies a month ago and I improved so much. My vocabulary is so much better. I am so happy! I can now find a better job! <i class="fa fa-quote-right"></i></p>

					<hr class="light">
										
				</div>

				<div class="three columns">

					<h3>Maria, Spain</h3>
					<hr class="light">
					<%= image_tag "lisa_italy.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I love my teacher. She is so fun and we laugh so much at class. I recommend Purple Stone Academy to anyone <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
				</div>

				<div class="three columns">

					<h3>Pablo, Spain</h3>
					<hr class="light">
					<%= image_tag "fernando_spain.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I like the course here because it is not expensive and it is very good. I came here two months ago and I was able to find a job in a restaurant because I improved my English at Purple Stone Academy <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
										
				</div>

			</div>


		</div>

	</div>

</section>
