<section class="stories">

	<div class="row">

		<div class="ten columns offset-by-one">
			<h2><i class="fa fa-comments-o"></i> <%= t('.title') %></h2>
			<hr class="light">
			<br />

			<div class="row">

				<div class="three columns">

					<h3>Marcony, Brazil</h3>
					<hr class="light">
					<%= image_tag "marconi_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments1') %> <i class="fa fa-quote-right"></i></p>

					<hr class="light">
					
					<note><%= t('.storyreview1') %></note>
					
				</div>

				<div class="three columns">

					<h3>Lisa D’Oria, Italy</h3>
					<hr class="light">
					<%= image_tag "lisa_italy.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments2') %> <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note><%= t('.storyreview2') %></note>
					
				</div>

				<div class="three columns">

					<h3>Fernando, Spain</h3>
					<hr class="light">
					<%= image_tag "fernando_spain.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments3') %> <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note><%= t('.storyreview3') %></note>
					
				</div>

			</div>


			<div class="row">

				<div class="three columns">

					<h3>Carlos, Colombia</h3>
					<hr class="light">
					<%= image_tag "carlos_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments4') %> <i class="fa fa-quote-right"></i></p>

					<hr class="light">
										
				</div>

				<div class="three columns">

					<h3>Valeria, Romania</h3>
					<hr class="light">
					<%= image_tag "photo_vali_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments5') %> <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
				</div>

				<div class="three columns">

					<h3>Chiaffredo, Italy</h3>
					<hr class="light">
					<%= image_tag "chiaffredo_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> hello people! I'm so happy to study english here cause the teaching is great and the teacher is so available and so pretty!eheheh , thank you very much Purble Stone!!! Ciao gente!! Sono davvero entusiasta di studiare qui perche l'insegnamento e eccellente e l'insegnante e molto disponibile e carina! grazie Purple Stone!!! <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">

				</div>

			</div>

			<div class="row">

				<div class="three columns">

					<h3>Carmen, Romania</h3>
					<hr class="light">
					<%= image_tag "carmen_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> <%= t('.storycomments7') %> <i class="fa fa-quote-right"></i></p>

					<hr class="light">
										
				</div>

				<div class="three columns">

					<h3>Laura, Spain</h3>
					<hr class="light">
					<%= image_tag "laura_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Purple Academy helped me much because the classes are very funy and we are speaking all time <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
				</div>

				<div class="three columns">

					<h3>Vincenzo, Italy</h3>
					<hr class="light">
					<%= image_tag "vincenzo_purplestone.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> I believe that the study method that makes this school is suitable for all people because the lessons are simple and remain in the mind because they are made ​​with joy. Mine experience is so great because I got to London without knowing the English, and today I can already attend an interview <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
										
				</div>

			</div>


		</div>

	</div>

</section>
